* {
  color: black;
  font-family: Georgia;
  font-size: 20px;
}

button {
  color: black;
}

.wrapper, #header {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.multiple {
  background-image: url(../img/greenhills_adjusted.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#header {
  padding: 10px;
  background-color: black;
}

#content {
  background-color: black;
  max-width: 1280px;
  padding: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: flex;
}

#left-panel {
  width: 700px;
  background-color: dimgray;
  margin-right: 10px;
}

#timerdisplay {
  color: white;
  font-size: 90px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#timerdisplay-container {
  background-color: black;
  opacity: 0.2;
}

#settings {
  margin-top: 15px;
  padding: 5px;
  background-color: white;
  text-align: center;
}

#settings * {
  color: black;
}

#worktimerform {
  margin-top: 20px;
}

.timerinput {
  color: black;
  width: 100px;
}

#right-panel {
  width: 500px;
  background-color: dimgray;
  margin-left: auto;
  padding: 10px;
}

#statistics {
  margin-bottom: 10px;
}

#statistics p {
  margin: 5px;
}

#tasks-section {
  border-top: black;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 10px;
}

#task-title-input {
  width: 100px;
  color: black;
}

#add-task-button {
  background-color: dimgray;
  color: white;
}

#tasklist-container {
  display: block;
}